<div ng-controller="NavController">
  <form>
    <button class="full-width half-bottom" name="lasthits" ng-click="changePath('/lasthits')">Last Hits</button>
    <button class="full-width half-bottom" name="denies" ng-click="changePath('/denies')">Denies</button>
    <button class="full-width half-bottom" name="cs" ng-click="changePath('/cs')">CS</button>
    <button class="full-width half-bottom" name="kda" ng-click="changePath('/kda')">KDA</button>
    <button class="full-width half-bottom" name="runes" ng-click="changePath('/runes')">Rune Control</button>
  </form>
</div>
