.container
  background-color #828285
  height 100%
body, html
  background-color #000000
  height 100%

div.chart
  width 300px
  height 300px


div.line
  width 500px
  height 300px

div.logo
  text-align center





